<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <% if current_user.account == nil %>
    <%= link_to "Criar conta", accounts_path, method: :post, class: "btn btn-primary btn-lg" %>
  <% else %>
    <% if current_user.name == nil %>
      <h1 class="display-4">Bem-vindo!</h1>
    <% else %>
      <h1 class="display-4">Olá, <%= current_user.name%>!</h1>
    <% end %>
      

    Agência<p class="lead"><%= @account.agency %></p>
    Conta<p class="lead"><%= @account.number %></p>
    Tipo de conta<p class="lead"><%= @account.type_account %></p>
    Saldo Disponível <p class="lead"> <%= @account.balance %></p>
    <% if @account.state == "open"%>
      <p class="lead">Sua conta está aberta. Você pode fazer todas as operações diponíveis</p>
      <hr class="my-4">
      <p>Se você encerrar a conta só será limitado a operações de saque até o limite do saldo</p>
      <%= link_to "Encerrar conta", shut_down_path, class: "btn btn-danger btn-lg" %>
    <% else %>
      <p class="lead">Sua conta foi encerrada, poderá apenas sacar o seu dinheiro</p>
    <% end %>
  <% end %>
    
</div>
